---
http_interactions:
- request:
    method: post
    uri: https://devapi.globelabs.com.ph/smsmessaging/v1/outbound/0000/requests?access_token=xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxx-x
    body:
      encoding: UTF-8
      string: '{"outboundSMSMessageRequest":{"senderAddress":"0000","outboundSMSTextMessage":{"message":"This
        is a test"},"address":"09171234567"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2bd-Eptf0EiTtWBrS9W3vIimyA"
    body:
      encoding: UTF-8
      string: |-
        {
          "outboundSMSMessageRequest": {
            "address": "9171234567",
            "deliveryInfoList": {
              "deliveryInfo": [],
              "resourceURL": "https://devapi.globelabs.com.ph/smsmessaging/v1/outbound/0000/requests?access_token=xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxx-x"
            },
            "senderAddress": "0000",
            "outboundSMSTextMessage": {
              "message": "This is a test"
            },
            "receiptRequest": {
              "notifyURL": "https://example.com/glabs",
              "callbackData": null,
              "senderName": null
            },
            "resourceURL": "https://devapi.globelabs.com.ph/smsmessaging/v1/outbound/0000/requests?access_token=xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxx-x",
            "numberOfMessagesInThisBatch": 1
          }
        }
  recorded_at: Sat, 16 Nov 2019 19:36:04 GMT
recorded_with: VCR 5.0.0
