---
http_interactions:
- request:
    method: post
    uri: https://devapi.globelabs.com.ph/smsmessaging/v1/outbound/0000/requests?access_token=invalid_token
    body:
      encoding: UTF-8
      string: '{"outboundSMSMessageRequest":{"senderAddress":"0000","outboundSMSTextMessage":{"message":"This
        is a test"},"address":"09171234567"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26-zIQvSYr8hcm4o+MgrBEsYA"
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "Invalid access token."
        }
  recorded_at: Sat, 16 Nov 2019 19:38:36 GMT
recorded_with: VCR 5.0.0
